<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>CondSystem</title>
</head>
<style>
    .card{
    
        margin: 30px 0 60px 0;
    }
    .header-top {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 40px;
        background-color: rgb(42, 102, 212);
        padding: 0 30px;
    }
    .header-top button {
        color: #fff;
        border: none;
        padding-top: 8px;
        background-color: rgb(42, 102, 212);
        
    }
    .header-top button:hover{
        opacity: 0.6;
    }
    .header-top span {
        padding-top: 15px;
        width: 10%;
        color: rgb(3, 3, 3);
   }
   .header-top span i {
    color: rgb(255, 0, 0);
   }
    .alert-div {
        margin-top: 50px;
    }
    .alert1 {
    width: 98%;
    background-color: rgb(243, 148, 148);
    /*padding: 5px;*/
    max-height: 20px;
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.alert2 {
    width: 98%;
    background-color: rgb(36, 207, 87);
    /*padding: 5px;*/
    max-height: 20px;
    padding: 0 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}
.form-senhas {
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
}
.senha2 {
    margin-left: 55px;
}
.form-casa {
    flex: 1;
    display: inline-flex;
    justify-content: space-between;
}
.bloco {
    margin-left: 55px;
}
</style>
    <body>
        <header class="header-top">
            <button onClick="javascript:window.location.href='/adm/painel', {danger: ''} "><i class="material-icons">arrow_back </i></button>
            <span>Cond<i>System</i></span>
        </header>

        <% if (danger == undefined || danger == null || danger2 == undefined || danger2 == null) {
            danger = " "
            danger2 = " "
        }
        %>
        <div class="container ">
            <div class="row ">
                <aside class="col-md-6 offset-md-3" >

                    <div class="alert-div">
                        <h3 id="alert1" class="alert1" > <%= danger %></h3>
                        <h3 id="alert2" class="alert2" > <%= danger2 %></h3>
                    </div>
                    

                    <div class="card shadow " >
                        <article class="card-body">
                            <h4 class="card-title mb-4 mt-1">Sign up</h4>

                            <form method="POST" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label>Nome Completo</label>
                                    <input class="form-control"  required placeholder="Jose Gritz Suarez" type="text" name="nome" id="txt" value="">
                                </div>
                                
                                <div class="form-group">
                                    <label>Nickname</label>
                                    <input class="form-control"  required placeholder="Jose_Gritz36" value="" type="text" name="nickname" id="txt5" >
                                </div>

                                <div class="form-senhas">
                                    <div class="form-group">
                                        <label>Senha 1</label>
                                        <input class="form-control" required placeholder="*********" type="password" value="" name="senha1" id="txt1">
                                    </div> 
                                    <div class="form-group senha2">
                                        <label>Senha 2</label>
                                        <input class="form-control" required placeholder="*********" value="" type="password" name="senha2" id="txt2">
                                    </div>
                                </div>
                            
                                <div class="form-casa">
                                    <div class="form-group">
                                        <label>Numero da Casa</label>
                                        <input class="form-control" required placeholder="138" value="" type="text" name="numero" id="txt3">
                                    </div>
                                    
                                    <div class="form-group bloco">
                                        <label>Bloco da Casa</label>
                                        <input class="form-control" required placeholder="A1" value="" type="text" name="bloco" id="txt4">
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <button type="submit" required class="btn btn-primary btn-block" value="Verificar" onclick="verificar()" > Register  </button>
                                </div>   
                            </form>
                        </article>
                    </div>
                </aside>
            </div>
        </div>
        <script>
            function verificar(){
                var txtv = window.document.querySelector('input#txt') // var "txtv" pegando informações que usuario digitar no Nome  
                var txtw = window.document.querySelector('input#txt1')  // var "txtw" pegando informações que usuario digitar na Senha 1 
                var txtx = window.document.querySelector('input#txt2')  // var "txtx" pegando informações que usuario digitar na Senha 2
                var txty = window.document.querySelector('input#txt3')  // var "txty" pegando informações que usuario digitar na Numero da casa
                var txtz = window.document.querySelector('input#txt4')  // var "txtz" pegando informações que usuario digitar na Bloco
                var txti = window.document.querySelector('input#txt5')  // var "texi" pegando informações que usuario digitar  no nickaname

                var nome   = (txtv.value)
                var nickname = (txti.value)                            // Transforma  "txtv" em var Nome
                var senha1 = (txtw.value)                            // Transforma  "txtw" em var senha1
                var senha2 = (txtx.value)                            // Transforma  "txtx" em var senha2
                var numero = (txty.value)                            // Transforma  "txty" em var Numero da casa
                var block  = (txtz.value)                            // Transforma  "txtz" em var Bloco
                
            // os input não vai aceitar campos vazios por causa do atributo "required"

                // se nome for menor que 5 caracteres imprime na tela um alerta de  Insira nome correto!!
                if (nome.length < 5){                            
                    alert("Insira um nome Correto!!")
                    }
                
                // se variavel senha for igual a zero imprime na tela um alerta de  Senha não informado!!
                if (senha1.length == 0 || senha2.length == 0){
                    alert("Senha não informado!")
                }
                // se senha 1 for diferente de senha 2 imprime alerta de  senhas não Estão iguais!!
                if(senha1 == senha2){
                    alert("as senhas não podem ser iguais!")
                }
                // se numero for = 0 imprime alerta de numero da casa não informado!!
                if (numero == 0){
                    alert("Numero da casa não informado!")
                }
                // se bloco for = 0 imprime alerta de bloco não informado!!
                /*if (block == 0){
                    alert("Bloco não informado!")
                }*/
            }
        </script>

            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    </body>
</html>

