*{
    margin: 0;
    padding: 0;
}
.logo {
    margin-top: 20px;
    text-align: center;
}
.logo i {
    color:deeppink
}
.logo span {
    color: grey;
}

.container{
    margin-top: 70px;
    padding: 0 20%;
}
form {
    height: 100%;
    width: 100%;
    padding: 10px;
    flex: 1;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.247)!important;
}
form h3 {
    font-size: 30px;
    margin-bottom: 50px;
}
label{
    font-weight: 600;
    font-size: 20px;
}
label strong {
    color: darkred;
    font-size: 22px;
}
input {
    padding: 5px 10px;
    width: 98%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: #eee;
    font-size: 16px;
}
.input{
    margin-bottom: 20px;
}
button {
    margin: 30px 0;
    border: 0;
    color: #fff;
    background-color: rgb(68, 248, 203);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: ease-in-out;
}
button:hover {
    opacity: 0.6;
}

@media (max-width: 683px){
    .container{
        margin-right: 20px;
        padding: 0 5%;
    }
    input {
        padding: 5px;
    }
}