<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/success.css">
    <title>CondSystem</title>
</head>
<body onload="start();">
    <div class="conteiner">
        <div class="card">
            <h1>Seja Bem vindo</h1>
            <div id="tempo" class="contador"></div>

            <div class="loading">
                <div class="load">
                   aguarde<i>...</i>
                </div>
            </div>
        </div>
    </div>
    <script src="js/contador.js"></script>
</body>
</html>