
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/morador.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
	<title>CondSystem</title>
</head>	
	<body>
		<div class="logo">
			<h1>Cond<i>System</i></h1>
			<p>O melhor e mais seguro Condominio da região</p>
		</div>

		<div class="conteiner">
			<h3 id="alert" class="alert" > <%= danger %></h3>
			<form method="Post" enctype="application/x-www-form-urlencoded">
				<h1 style="margin-top: 30px; text-align: center; font-family: 'Roboto', sans-serif;">Sign in</h1>
				<div class="nik">
					<label>Nickname</label>
					<input autocomplete="off" id="txt"  required type="text" placeholder="fulano_55r" name="nickname">
				</div>
				
				<div class="pas">
					<label>Senha</label>
					<input autocomplete="off" id="txt1" required placeholder="*******" type="password" name="senha">	
				</div>
				
				<button type="submit" value="Verificar" onclick="verificar()">Entrar</button>
			</form>
		</div>

		<script>
			function verificar(){
				var txtv = window.document.querySelector('input#txt')   // var "txtv" pegando informações que usuario digitar no email
				var txtw = window.document.querySelector('input#txt1')  // var "txt1" pegando informações que usuario digitar na senh  
				var nikename = (txtv.value)                            // Transforma  "txtv" em var email
				var senha = (txtw.value)                           // Transforma  "txtw" em var senha
				// os input não vai aceitar campos vazios por causa do atributo "required"
				if (senha.length < 3){
					alert("senha curta")
				}	
			}
		</script>
			
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>	
	</body>
</html>