<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CondSystem</title>
</head>
<style>
    .logo {
        margin-top: 5px;
        text-align: center;
    }
    .logo i {
        color:deeppink
    }
    .logo span {
        color: grey;
    }
    .card{
        top: 20px;
    }
    .alert1 {
    width: 100%;
    background-color: rgb(243, 148, 148);
    /*padding: 5px;*/
    padding: 0 5px;
    margin-top: 50px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
</style>
<body>
    
    <div class="container ">
        <div class="logo">
            <h3>Cond<i>System</i></h3> 
            <span>O melhor e mais seguro Condominio da região</span>
        </div>
        <div class="row ">
            <aside class="col-md-4 offset-md-4" >

                <% if (danger == undefined || danger == null ){
                    danger = " "
                }%>
                <h3 id="alert1" class="alert1" > <%= danger %></h3>
                
                <div class="card shadow " >
                
                    <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>

                        <form method="POST" enctype="application/x-www-form-urlencoded">

                            <div class="form-group">
                                <label>Seu Email</label>
                                <input class="form-control" autocomplete="off"  required placeholder="Jose_Gritz@gmail.com" type="email" name="email" id="txt">
                            </div>
                            
                            <div class="form-group">
                                <label>Sua Senha</label>
                                <input class="form-control" autocomplete="off" required placeholder="******" type="password" name="senha" id="txt1">
                            </div> <br>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" value="Verificar" onclick="verificar()"> Entrar  </button>
                            </div>   

                        </form>

                    </article>
                </div>
            </aside>
        </div>
    </div>


    <script>
        function verificar(){
            var txtv = window.document.querySelector('input#txt')   // var "txtv" pegando informações que usuario digitar no email
            var txtw = window.document.querySelector('input#txt1')  // var "txt1" pegando informações que usuario digitar na senh  
            var email = (txtv.value)                            // Transforma  "txtv" em var email
            var senha = (txtw.value)                           // Transforma  "txtw" em var senha
            

            // os input não vai aceitar campos vazios por causa do atributo "required"


            if (senha.length < 4){
                alert("senha curta")
            }
        
        }
    </script>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   
    </body>
</html>