<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/loginAdm.css">
        <title>CondSystem</title>
    </head>

    <body>
        <div class="logo">
            <h3>Cond<i>System</i></h3> 
            <span>O melhor e mais seguro Condominio da região</span>
        </div>
    
       <div class="alerta">
            <% if (danger == undefined || danger == null ){
                danger = " "
            }%>
            <h3 id="alert1" class="alert1" > <%= danger %></h3>
       </div> 
        
        <div class="container ">
                   
            <form method="POST" enctype="application/x-www-form-urlencoded">
                <h3>Sign in</h3>
                <label>E-mail <strong>*</strong></label>
                <input  
                    type="email" 
                    className="input" 
                    name="email" 
                    required
                    placeholder="digite seu email"
                    autocomplete="off"
                />

                

                <label>Senha <strong>*</strong></label>
                <input
                    type="password" 
                    name="senha" 
                    required
                    placeholder="digite sua senha" 
                    autocomplete="off"
                />

                <button type="submit"  >Entrar</button>

            </form>
    </div>

    </body>
</html>