*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}

body {
    background-color: #fff;
}
.logo {
    margin-top: 20px;
    text-align: center;
}
.logo h1 i {
    color: rgb(236, 108, 193);
}
.logo p {
    color: darkgrey;
}
.conteiner {
    margin-top: 50px;
    padding: 0 30%;
}
.card {
    padding: 5px 0 0 0;
    height: 400px;
    width: 100%;
    background-clip: border-box;
    border: 2px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.card h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(75, 75, 75);
}
.contador {
    margin-top: 50px;
    text-align: center;
    font-size: 150px;
}
.loading {
    margin-top: 10px;
    padding: 0 10%;
    height: 20px;
    

}
.load {
    padding: 0 5px;
    color: rgb(255, 255, 255);
    height: 100%;
    background-size: 50% 50%;
    animation: back 2s ease-in-out 0.5s infinite;
    background-image: linear-gradient(to right, rgb(53, 128, 226), rgb(9, 32, 236));
}
@keyframes back {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position:100% 0;
    }
    100%{
        background-position: 0;
    }
}
@media screen and (max-width: 800px) {
    .conteiner {
        padding: 0 10%;
    }  
    .loading {
        margin-top: 10px;
    } 
    .card{
        height: 230px;
        margin-bottom: 20px;
    }  
    .contador {
        margin: 20px 0;
        font-size: 90px;
    } 
    .card h1 {
        font-size: 22px;
    } 
}
@media screen and (max-width: 452px) {
    .conteiner {
        margin-top: 50px;
    }
    .logo h1{
        font-size: 14px;
    }
    .logo p {
        font-size: 10px;
    }  
    .card h1 {
        font-size: 16px;
    }
    .card{
        height: 200px;
    }
    .contador {
        margin: 20px 0;
        font-size: 60px;
    }
    .load {
        font-size: 12px;
    }
}